# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
packages/*/node_modules
projects/*/node_modules
dist
packages/*/dist
projects/*/dist
dist.zip

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# projects/own-docs
projects/own-docs/docs/.vuepress/.cache
projects/own-docs/docs/.vuepress/.temp