:root {
  --primary-color: #1890ff;
  --primary-hover-color: #40a9ff;
  --disabled-color: #aaa;
  --muted-color: #a1a5b7;

  --success-color: #50cd89;
  --warning-color: #ffc700;
  --danger-color: #f1416c;

  --text-white-color: #ffffff;

  --bg-black-color: #0a2a54;
  --bg-white-color: #fff;
  --bg-white-hover-color: rgba(#fff, 0.3);
  --bg-gray-color:#F5F5F5;

  --box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  --theme-light-component-background:#f5f5f5;
  --theme-light-background:#ffff;
  --theme-dark-component-background:#262626
  --theme-dark-background:#595959
}
