@import 'common-core/styles/export.scss';

@import 'leaflet-easybutton/src/easy-button.css';
@import './Leaflet.PolylineMeasure.css';

.leaflet-control-container {
  position: absolute;
  right: 64px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border-width: 0;
  box-shadow: var(--box-shadow);
}

.leaflet-bar {
  a,
  a:hover,
  button,
  button:hover {
    background-color: var(--bg-black-color);
    border-bottom-width: 0;
  }

  a,
  button {
    color: #fff;
    transition: color 0.3s;

    &:hover {
      color: var(--primary-hover-color);
    }
  }

  // 测距控件
  a.polyline-measure-controlOnBgColor,
  a.polyline-measure-controlOnBgColor:hover {
    color: var(--primary-hover-color);
  }

  .easy-button-button {
    font-size: 20px;
  }
  .iconfont {
    color: #fff;
    transition: color 0.3s;
    &:hover {
      color: var(--primary-hover-color);
    }
  }


  // 地图控件的颜色显示
  button[class*='control-active-'] {
    color: var(--primary-hover-color);
    i {
      color: var(--primary-hover-color);
    }

    &:hover {
      color: var(--primary-hover-color);
      i {
        color: var(--primary-hover-color);
      }
    }
  }
}
